/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #523722; /* Fundo marrom clarinho */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header h1 {
    font-size: 2.5rem;
    /* Borda inferior do título alterada para branco */
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 10px;
    /* Adicionando uma cor escura ao texto para garantir a leitura */
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Tabuleiro do Jogo */
#game-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.tile {
    width: 60px;
    height: 60px;
    /* Borda padrão do bloco alterada para branco */
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    transition: transform 0.6s;
}

/* Estilos das Letras no Tabuleiro com borda branca */
.tile.correct {
    background-color: #538d4e; /* Verde */
    border-color: #FFFFFF; /* Borda branca */
    color: #fff;
    transform: rotateX(360deg);
}

.tile.present {
    background-color: #b59f3b; /* Amarelo */
    border-color: #FFFFFF; /* Borda branca */
    color: #fff;
    transform: rotateX(360deg);
}

.tile.absent {
    background-color: #121213; /* Fundo preto/escuro */
    border-color: #FFFFFF; /* Borda branca */
    color: #fff;
    transform: rotateX(360deg);
}

/* Teclado Virtual */
#keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.key {
    background-color: #818384;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 40px;
}

.key.large {
    min-width: 65px;
}

.key:hover {
    background-color: #929495;
}

/* Cores das Teclas do Teclado após uso */
.key.correct {
    background-color: #538d4e;
    color: white;
}
.key.present {
    background-color: #b59f3b;
    color: white;
}
.key.absent {
    background-color: #3a3a3c;
    color: white;
}